@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Cairo:wght@300;400;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-slate-900 text-slate-900;
  font-family: 'Inter', 'Cairo', sans-serif;
}

[dir="rtl"] {
  font-family: 'Cairo', 'Inter', sans-serif;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}